# Python ignores
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Data files
*.csv
*.png
# *.txt

forecast_log.txt

# API keys and secrets

*.key
*.secret


# Specific files
get-pip.py
test_serial.py

venv/

requirements copy.txt
None/